// Variables
$gray: #f0efef;
$green: #ddeedd;
$blue: #c2d4dd;
$purple: #b0aac0;
$black: #000;
$white: #fff;

body {
    color: $black;
    background-color: $gray;
    font-size: .875em;
}

// Button
.btn {
    background-color: $green;
    color: $black;
}

// Main Divs
#intro {
    padding: 15px;
    background-color: $blue;
    margin-left: -15px;
    margin-right: -15px;
}

#filters {
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: $purple;
    // color: $white;
}

#results {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game {
    padding: 3px;
    text-align: center;
}

// Slider Selector
.ui-state-active,
.ui-widget-content .ui-state-active {
    background-color: $blue;
}

// Tab styling
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}