.red { background-color: #f00; }
.green { background-color: #0f0; }
.blue { background-color: #00f; }

#mid {
  margin-top: 25px;
}

#filters {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

#results {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.game {
	padding: 5px;
	text-align: center;
}